<!DOCTYPE html>
<html class="no-js" lang="zh_CN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
	<title>#title</title>
	#required_css
</head>
<body>
	#loading
	<!-- 风格切换 -->
	#stylepage
	<div class="app ${layout}">
		<!-- 头部菜单 -->
		#header
		<section class="layout">
			<!-- 菜单 -->
			#sidebar
			<!-- 内容主体 -->
			<section class="main-content">
				<!-- 主体操作栏 -->
				<header class="header navbar bb">
					<!-- 左按钮区 -->
					<div class="btn-group tool-button">
					</div>
					<!-- 右按钮区 -->
					<div class="btn-group pull-right">
					</div>
				</header>
				<div class="content-wrap">
					#code
					<a class="exit-offscreen"></a>
				</div>
			</section>
		</section>
	</div>
	#required_js
	<!-- 页面组件 -->

	<!-- 本页面脚本 -->
	<script type="text/javascript">
		
	</script>
	#loading_close
</body>
</html>